/* Styles */

nav {
  padding-left: 20px;
  background-color: deepskyblue;
}

footer.page-footer {
  background-color: deepskyblue;
}

img {
  height: 500px;
  width: 700px;
  padding-right: 50px;
  margin-right: 50px;
  float: left;
}

.myForm {
  display: inline-block;
  margin-top: 20px;
  margin-right: 1000px;
  border: 1px solid #EEE;
}

.btn {
  background-color: deepskyblue;
}

.text-editor {
  margin-top: 0px;
  margin-left: 10px;
  width: 650px;
}

.modal .input-field {
  width: 250px;
  margin-left: 50px;
}

#text {
  width: 170px;
}

#create-doc {
  margin-top: 20px;
  margin-left: 250px;
}

.card {
  margin-top: 30px;
  margin-left: 15px;
  width: 300px;
  height: 200px;
}

.show-docs {
  position: relative !important;
}

.view-user-modal {
  color: black;
}

.my-modal {
  z-index: 10000
}

#new-role{
  width: 400px;
}

#search-modal{
  width: 800px;
  height: 650px;
}

.doc-card {
  width: 250px;
  height: 200px;
}
